.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %ul 
        - @group.users.each do |user|
          %li= user.name
        %li.main-header__left-box__menber-list__member
        
    .main-header__edit-btn
      = link_to "Edit", edit_group_path(@group) ,class: "link" 
  .messages
    = render @messages
      
  .form
    = form_for [@group, @message] do |f|
      .form__mask
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'    
        = f.label :image, class: 'image-label' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'